<div class="sidebar">
    <div class="title">Popular Support Articles</div>
    <a href="/article/123-some-fuck-article" class="article-link">Article title goes here, then you can meme while you meme. Can you?</a>
    <a href="/article/123-some-fuck-article" class="article-link">Article title goes here, then you can meme while you meme. Can you?</a>
    <a href="/article/123-some-fuck-article" class="article-link">Article title goes here, then you can meme while you meme. Can you?</a>
    <a href="/article/123-some-fuck-article" class="article-link">Article title goes here, then you can meme while you meme. Can you?</a>
    <a href="/article/123-some-fuck-article" class="article-link">Article title goes here, then you can meme while you meme. Can you?</a>
</div>