// Styling variables

$text-colour: white;

// Light colour. Used for links and the search bar
$light-colour: #e74c3c;

// Dark colour. Used for the header.
$dark-colour: #c0392b;

// Light background colour. Used for the footer.
$light-background: #2B2B2B;

// Dark background colour. Used for the main page background.
$dark-background: #242424;